{% extends "template.html" %}

{% block title %}Membres{% endblock %}

{% block head %}
    <style>{% include 'rounded-table.css' %}</style>
{% endblock %}

{% block template%}

    <a href="{{url_for('export_csv', entite='membres')}}" class="me-2" download="table_membres_exported.csv"><button class="btn btn-light">Exporter la table</button></a>
    <form action="{{url_for('import_csv', entite='membres')}}" enctype="multipart/form-data" class="dropend mb-2" method="POST">
        <button class="input-group-text dropdown-toggle btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">Importer un csv</button>
        <div class="dropdown-menu input-group w-auto px-2">
            <div class="d-flex">
                <input type="file" name="file" class="w-auto dropdown-item ps-0 pe-2" accept=".csv">
                <input id="submit_import_btn" type="submit" value="Importer" class="input-group-text btn btn-outline-dark">
            </div>
        </div>
    </form>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show w-25 my-2 rounded-3 d-flex justify-content-start align-items-start" role="alert">
                {%- for msg in errors %}
                  <span class="w-auto">
                    {{ msg }}
                  </span>
                {% endfor %}
              <button type="button" class="btn-close btn w-auto" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}
    {% with success = get_flashed_messages(category_filter=["success"]) %}
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show w-25 my-2 rounded-3 d-flex justify-content-start align-items-start" role="alert">
                {%- for msg in success %}
                  <span class="w-auto">
                    {{ msg }}
                  </span>
                {% endfor %}
              <button type="button" class="btn-close btn w-auto" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}

<table class="table table-striped table-bordered m-0">
    <thead class="thead-light">
        <tr class="border-top-0 text-center fs-3">
            <th class="border-start-0">Nom</th>
            <th>Status</th>
            <th>Année scolaire </th>
            <th class="border-end-0">Fichier du membre</th>

        </tr>
    </thead>

    <tbody class="table-group-divider">
     {% for membre in membres %}
       <tr>
            <td class="fs-5 fw-bold"><a class="link-body-emphasis" href="{{url_for('membre', id=membre.id_Membre)}}">{{ membre.nom }}</a></td>
            <td class="fs-6">{{ membre.statut }}</td>
            <td class="fs-6">{{ membre.annee_scolaire }}</td>
            <td class="fs-6 text-center"><a href="{{url_for('membre', id=membre.id_Membre)}}#Documents"><img style="max-height: 30px" src="{{url_for('static', filename='external_link.png')}}" alt="Lien vers documents"></a></td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}